/* .color1 { #49a6db };
.color2 { #93d3f3 };
.color3 { #3f80a4 };
.color4 { #718590 };
.color5 { #93bcd0 };
 */
 
html {
    font-family: 'Nunito', sans-serif;   
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
}


/*CSS para cabecera */
.seccionGris {
    background-color: #718590;
    color: aliceblue;
}

.navbar{
    padding: 2rem;
    font-size: 1.3rem;
}

.nav-link{
    color: aliceblue;
}

.navbar-collapse{
align-items: center;
justify-content: space-between;
}

.logo, #logo {
    width: 100px;
    border-radius: 50%;
}


li i {
    padding: 10px;
    font-weight: bold;
}

/* home */
.sobreNosotros{
    height: 400px;
    background-image: url('../imagenes/1302.jpg');
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.panoramica{
    height: 250px;
}

#tituloNosotros{
    font-size: 3rem;
    text-shadow: 3px 3px #49a6db;
    text-align: center;
    font-family: 'Titan One', cursive;
}

.maquina{
    justify-content:space-around;
    align-items: center;
}

.imagenOperador{
    padding: 5px;
    max-width: 500px;
    border-radius: 15%;
}

#textoNosotros{
    padding: 5px;
    font-size: 1.5rem;
    text-shadow:1px 1px #49a6db;
    text-align: center;
}

.derechosImagen{
    font-size: 0.5rem;
    text-decoration: none;
    color:#718590;
    text-align: end;
    justify-content: end;
    align-items: flex-end;

}

.carrusel{
    width: 600px;
    max-height: 600px;
    display: flex;
    flex-direction: row;
}

.w-100{
    border-radius: 30%;
}

/* Descripcion */
.informacion{
    background-color: #49a6db;
    min-height: 400px;
}


/* productos */

.productos{
    padding: 40px;
}

.productos img{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    display: block;
    transition: all 0.2s ease;
}

.productos-contenedor{
    padding-top: 60px;
    margin-bottom: 40px;
}



.overlay{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.overlay p {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0;
}

.overlay {
    display: flex;
    align-items: center;
}

.overlay i {
    color: black;
    font-size: 3rem;
    margin: 10px;
}

.producto {
    position: relative;
}

.producto:hover img{
    opacity: 0.2;
}

.producto:hover .overlay {
    opacity: 1;
}